.image {
  aspect-ratio: 3 / 4;
  height: 350px;
  width: 250px;
  object-fit: cover;
  border-radius: 12px;
}

.form-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.image-section {
  flex: 0 0 auto;
}

.input-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-section textarea {
    height: 220px;
    resize: vertical;
}