/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #00416A, #a0bfdf);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}